body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #262626;
    color: white;
}

.container-wrap {
    display: grid;
    justify-content: center;
}

h1{
    text-align: center;
    margin-top: 40px;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    margin-top: 60px;
}

.col{
    background-color: #E6C3FF;
    font-size: 100px;
    text-align: center;
    height: 150px;
    width: 150px;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 5px;
}

.score{
    font-size: 25px;
}

.content{
    width: 400px;
    text-align: center;
}

.btn{
    margin-top: 20px;
}